figure {
    max-width: 160px;
    max-height: 160px;
    margin: 0 auto;
}
figure img {
    border-radius: 50%;
    width: 100%;
    transition: filter 0.3s ease; /* Adiciona uma transição suave */
}

figure img:hover {
    filter: brightness(1.2); /* Aumenta o brilho da imagem */
}


body { 
    background-color: rgb(42, 40, 40);
    color: rgb(237, 226, 226);
    font-family: 'Roboto Condensado', serif;
    padding: 20px;
}

main {
    width: 60vw;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin: 0 0 10px 0;
}

section {
    padding: 20px 0;
}

h1 {
    text-align: center;
    margin: 0 0 10px 0;
}

.cardcontainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    perspective: none;
    color: rgb(21, 200, 216);
    border: 1px solid;
    border-radius: 40px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin: 10px;
    padding: 20px;
    flex: 1 1 calc(30% - 20px); /* Três cartões lado a lado */
}

/* Estilos responsivos */
@media (max-width: 768px) {
    main {
        width: 90vw; /* Aumenta a largura em telas menores */
    }

    .card {
        flex: 1 1 calc(45% - 20px); /* Dois cartões lado a lado */
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 100%; /* Um cartão por linha em telas muito pequenas */
       
    }

    h1, h2 {
        font-size: 1.5em; /* Ajusta o tamanho da fonte dos cabeçalhos */
    }
}

.mdi-linkedin {
    color: rgb(0, 255, 166);
}





